
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/CustomScripts/Dashboard.js"></script>
<style>
    .btnstyle {
        font-size: 19px;
        text-align: center;
        font-weight: 600;
    }
</style>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4 pt-2">
            <div class="row pt-1" id="LoadPartails"></div>
        </div>
    </main>
</div>

